[flake8]
max-line-length = 160
ignore = 
  # E252 missing whitespace around parameter equals
  # -----------------------------------------------
  # The warning is suppressed because this pattern is used in too many places. (e.g. 
  # function parameter like `param=None`).
  E252